

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
/* applies to the body of the website */
color: #39a6b2;
font-family: Helvetica, Arial, sans-serif;
}

header h1{
  font-weight: bold;  
  font-size: 36px;
  color: #fce138;
  margin: 0;

}

header{
  padding: 15px 30px;
  background-color: #39a6b2;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: grey;
  background-attachment: fixed;
  background-position: 80%;
background-size: cover;
background-position: center;
}

header nav {
 
  margin: 7px 0;
}

header nav ul {

  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
 
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.55vw;
}

.hero {
  background-image: url(../images/hero.jpeg);
  background-size: cover;
  width: 100%;
  height: 50rem;
  position: relative;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  

  }

  section{
    padding: 40px 25px;
}


.hero{
  background-position: bottom;
  height:auto;
  text-align: center;
  margin-bottom: 0px;
}


.bio p{
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}